<div class="max-w-7xl mx-auto mb-2" >
  <div class=" mx-auto p-8 shadow-2xl rounded-md bg-white">
  <div class="w-full container items-center flex justify-between">
    <span class="text-2xl text-bold text-slate-700"> PRODUCTS </span>
    <div class="flex container items-center w-auto">
      <button class="mr-2 bg-blue-400 text-white px-5" routerLink="add" mat-button>
        <mat-icon class="mat-18">add</mat-icon>
        Products
      </button>
      <app-product-search></app-product-search>
    </div>
  </div>

  <div class="my-3">
    <table mat-table [dataSource]="products" matSort ="mat-elevation-z8">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? toggleAllRows() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th class="text-xl text-semibold" mat-header-cell *matHeaderCellDef  mat-sort-header sortActionDescription="Sort by name"> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="totalQuantity">
        <th class="text-xl text-semibold" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Total Quantity">Quantity </th>
        <td mat-cell *matCellDef="let element"> {{element.totalQuantity}} </td>
      </ng-container>

      <ng-container matColumnDef="worth">
        <th class="text-xl text-semibold" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by worth"> Worth </th>
        <td mat-cell *matCellDef="let element"> {{element.worth}} </td>
      </ng-container>

      <ng-container matColumnDef="noOfVarieties">
        <th class="text-xl text-semibold" mat-header-cell *matHeaderCellDef  mat-sort-header sortActionDescription="Sort by NoOfVarieties"> Varieties </th>
        <td mat-cell *matCellDef="let element"> {{element.varieties.length}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th class="text-xl text-semibold" mat-header-cell *matHeaderCellDef  mat-sort-header sortActionDescription="Status"> Status </th>
        <td mat-cell *matCellDef="let element">
            <mat-chip class="bg-green-400 text-base text-green-800" *ngIf="element.totalQuantity>0">IN STOCK</mat-chip>
            <mat-chip class="bg-red-400 text-base text-red-800" *ngIf="element.totalQuantity==0">OUT OF STOCK</mat-chip>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th class="text-xl text-semibold" mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <div class="flex w-full container items-center justify-around text-2xl">
            <div>
              <mat-icon class="text-slate-700" (click)="openProductDetailsPage(element.refId)">visibility</mat-icon>
            </div>
            <div class="ml-1">
              <mat-icon class="text-green-800" (click)="openProductEdit(element.refId)">edit</mat-icon>
            </div>
            <div class="ml-1">
              <mat-icon class="text-red-500" (click)="deleteProduct(element.refId)">delete</mat-icon>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="selection.toggle(row)">
      </tr>
    </table>
  </div>
  <mat-paginator class="my-4 mx-1 border-none " [length]="pageState?.totalElements || 0 " [pageSize]="pageState.pageSize" [pageSizeOptions]="pageSizeOptions"> </mat-paginator>
</div>
</div>
