<mat-card>
  <mat-card-header>
    <mat-card-title>Select Quantity</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="flex container items-center w-full justify justify-between my-3">
      <div class="flex">
          <img  class="w-20 h-20 rounded-md border border-slate-700" [src]="cartItem?.image || '/assets/images/no-image.png' " alt="" loading="lazy" />
          <div class="ml-3 text-base">
            <span>{{cartItem.productName}}</span> <br>
            <span class="text-grey-400">{{cartItem.varietyName}}</span>
          </div>
      </div>
      <div class="flex container w-auto items-center text-2xl">
        <button class="flex justify-center text-2xl" mat-raised-button color="primary" (click)="remove()"> - </button>
        <span class="text-base mx-3">{{quantity}}</span>
        <button class="flex justify-center text-2xl" mat-raised-button color="primary" (click)="add()"> + </button>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button class="mx-2" mat-button color="primary" (click)="submit()">Save to Cart</button>
    <button class="mx-2" mat-button color="accent" (click)="cancel()">Cancel</button>
  </mat-card-actions>
</mat-card>
